<!DOCTYPE html>
<html>
<script src="/js/lib/angular.min.js"></script>
<script src="/js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="/js/app/toptenapp.js"></script>
<script src="/js/app/toptencontroller.js"></script>
<script src="/js/app/commonservice.js"></script>

<head>
<style>
#dynamicTopTenTable {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#dynamicTopTenTable td, #dynamicTopTenTable th {
	border: 1px solid #ddd;
	padding: 8px;
}

#dynamicTopTenTable tr:nth-child(even) {
	background-color: #f2f2f2;
}

#dynamicTopTenTable tr:hover {
	background-color: #ddd;
}

#dynamicTopTenTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: teal;
	color: white;
}
</style>
<title>Top 10 Countries</title>
</head>
<body ng-app="topTenIndex" ng-controller="toptencontroller">
	<form onload="getTopTenCountries()">
		<table id="dynamicTopTenTable" hidden="true">
			<tr>
				<th>SR. NO.</th>
				<th>COUNTRY CODE</th>
				<th>COUNTRY NAME</th>
				<th>COUNT OF AIRPORTS</th>
			</tr>
		</table>
	</form>
</body>
</html>
